<div class="aboutMe">

  <h2 class="title"><strong>O Furu</strong> - safsaczyli o mnie</h2>
  
  <div class="me">
      <a href="{{ site.github.url }}/about">
        
        <img src="{{site.github.url}}/assets/images/me.jpg" class="photo">

      </a>
  </div>

  <div class="data">

    <p class="info">{{ site.info }}</p>

    <div class="socials">

      <ul>

        <li><a href="{{ site.facebook_url }}"><i class="ion-social-facebook"></i></a></li>

        <li><a href="{{ site.instagram_url }}"><i class="ion-social-instagram-outline"></i></a></li>

        <li><a href="{{ site.github_url }}"><i class="ion-social-github"></i></a></li>
      
      </ul>

    </div>

  </div>

</div>
