<div class="ads">
  <div class="loremAd">
    <p>Najlepszy hosting WWW w internecie, polecam w Pełni</p>
    <a href="http://www.hekko.pl/?ref=67785" title="Tani hosting WWW"><img style="display: inline-block" src="{{site.github.url}}/assets/images/hekko1.jpg" /></a>
    <a href="http://www.hekko.pl/?ref=67785" title="Tanie domeny"><img style="display: inline-block" src="{{site.github.url}}/assets/images/hekko2.jpg" /></a>
  </div>

  <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Reklamy FuruArt
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5573522015272112"
     data-ad-slot="1251158388"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
</div>
