<div class="friends">

  <h2 class="title">Zaprzyjaźnione strony</h2>

  <div class="data">

    <ul>

      <li><span class="icon" id="xal"><i class="ion-planet"></i></span><a href="http://xaal66.blogspot.com/" target="_blank" title="Blog hobbystyczny o astronomii, astrofotografii i...">Zapiski Xal'a</a></li>
      
      <li><span class="icon" id="grafinity"></span><a href="http://grafinity.pl" target="_blank" title="Grafinity Forum - forum graficzne">Grafinity Forum</a></li>

      <li><span class="icon" id="lisiePismo"></span><a href="http://lisiepismo.pl" target="_blank" title=" LisiePismo – Blog osobisty 22-letniego Liska">LisiePismo</a></li>

      <li><span class="icon" id="granos"></span><a href="http://granos.pl" target="_blank" title="Granos.pl - blog o nowych mediach, brandingu, marketingu i nie tylko">granos.pl</a></li>
    </ul>

  </div>
  
</div>