<div class="mobile-trigger">
  <i class="ion-android-menu"></i> <i class="ion-android-close closed"></i>
  <div class="trigger" id="triggerNight">
    <i class="ion-lightbulb"></i>
    <p class="tip">Pozwól odpocząć oczom, jeśli czytasz w nocy.</p>
  </div>
</div>
<div class="mobile-navigation-bar">
  <div class="navigation-bar">
    <ul class="mini-navigation">
      <header>
        {% include header.html %}
      </header>
      <li><a href="{{ site.homeurl }}"><i class="ion-home"></i> Strona główna</a></li>
      <li><a href="/about"><i class="ion-android-contact"></i> O mnie</a></li>
      <li><a href="/search/category"><i class="ion-android-folder"></i> Kategorie</a></li>
      <li><a href="/archive"><i class="ion-android-calendar"></i> Archiwum</a></li>
    </ul>
  </div>
</div>