<div class="triggerClosed" id="trigger">
  <i class="ion-android-arrow-forward"></i>
  <p class="tip">Przywróc nawigację.</p>
</div>

<div class="triggerClosed" id="triggerNight">
  <i class="ion-lightbulb"></i>
  <p class="tip">Powróć do normalnych barw.</p>
</div>

<!-- Nerds: Experimental Functions(); -> Do not use!
<div class="nightMode">
  <i class="ion-android-bulb"></i>
  <p class="tip">Uruchom tryb nocny, oszczędza wzrok.</p>
</div> 

<div class="trigger-tools">
  <i class="ion-gear-b"></i>

  <div class="tools-list">
    <div class="trigger-readability">
      <p><i class="ion-ios-glasses"></i></p> 
    </div>
    <div class="trigger-font-size">
      <i class="ion-plus-round"></i>
    </div>
  </div>
  
</div>
-->