.mobile-navigation-bar, .mobile-trigger { display: none; }

@media only screen and (max-width: 1713px) {
  .aboutMe { 
    .info {
      font-size: 1rem !important;
    }
   }
}


@media only screen and (max-width: 1100px) {
  
  * { @include transition(all, 0s, none); }

  .htmlMask {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 2094px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    overflow-y: hidden;

    &.disable { display: none; }
  }


  .navigation-bar {
    position: absolute;
    top: 0;
    width: 400px;
    height: auto !important;
    @include transform(translateX(-500px));
    z-index: 99999;
  }

  .col-9 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
  }

  .mobile-trigger {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 999999;
    background: $primary-violet;
    line-height: 80px;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 80px;
    box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, .2);
    @include transition(all, .4s, ease-in-out);

    i {
      color: #fff;
      font-size: 2rem;
    }

    &.activated {
      background: #fff;
      width: 400px;
      text-align: left;
      padding-left: 20px;

      i { color: $primary-violet; }
    }
  }

  .mobile-navigation-bar {
    display: block; 
    position: absolute; 
    top: 0;
  }

  .runMe {
    @include transform(translateX(0px));
  }

  .closed { display: none; }

  .clicked { height: 2094px; overflow-y: hidden; }

  #drop { display: none; }

  .posts { margin-top: 80px; }

  .row { padding: 0; margin: 0; }

  .nextButton, .prevButton { 
    @include size(50%, 60px); 

   }

  .mini-navigation {
    z-index: 99999;
    margin-top: 80px;
    height: 100vh;

    li {
      @include size(100%, 80px);
      text-align: justify;
      margin: 0 auto;
      line-height: 80px;
      padding-left: 60px;
      background: #fff;
      border-bottom: 2px solid rgba(0, 0, 0, .05);

      &:hover {
        background: rgba(250, 250, 250, 1);
      }

      a, &:visited {
        display: block;
        @include size(100%, 80px);
        @include roboto(1.1rem, 400, $primary-violet);
        @include transition(all, .4s, ease-in-out);

        &:hover, &:active {
          color: $accent;
        }

        i {
          font-size: 1.5rem;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }

    .brand {
      @include size(100%, 100%);
      justify-content: center;
      padding-top: 40px;

      .logo {
        @include size(100px, 100px);
      }
    }
  }

  #about, #archive { header { padding: 0 !important; visibility: hidden; } }

  #shortData { min-width: 100%; }

  #longData {
    position: static !important;
    #about {
      min-width: 100% !important;
    }
  }
}

@media only screen and (max-width: 810px) {
  .article, .article-body, p, strong, code, a { font-size: 1rem; }

  .article-title { a { font-size: 1.5rem !important; }  }

  .article-info { span{ font-size: .9rem !important; } a { font-size: .9rem !important; } i { font-size: 1.5rem !important; } }

  .article-content { h3 { font-size: 1rem !important; } }

  .readmore {
    padding: 0 !important;

    a {
      display: block;
      width: 100%;
      padding: 20px;
    }
  }

  .pagination {
    .nextButton, .prevButton {
      min-width: 75%;
    
      i {
          position: static !important;
        }
    }
  }
}

@media only screen and (max-width: 620px) {
  .pagination {
    .nextButton, .prevButton {
      min-width: 90% !important;
    }
  }
}

@media only screen and (max-width: 430px) {
  .article-title { a { font-size: 1.3rem !important; } }

  .article-info { span{ font-size: .8rem !important; } a { font-size: .8rem !important; } i { font-size: 1rem !important; margin-right: 5px !important; } }

  .article-content { h3 { font-size: .9rem !important; } }
}

@media only screen and (max-width: 355px) {
  .article-info { i { font-size: .8rem !important; margin-right: 0 !important; } }
}
