// basic setup

html, body, .container-fluid { height: auto; }

* { box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

a, a:hover, a:visited, a:active { text-decoration: none; }

.title {
  @include roboto(1.4rem, 400, rgba(255, 255, 255, .85));
  text-align: center;
  margin-top: 20px;
  color: rgba(255, 255, 255, 1);

  strong {
    @extend .title;
  }

}

.brand {
    @include size(100%, 130px);
    display: flex;
    justify-content: center;

    .logo {
      display: block;
      @include size(130px, 130px);
      border-radius: 50%;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);

      a {
        display: block;
        @include size(130px, 130px);
        border-radius: 50%;
      }

    }

  }

.spacer { @include size(100%, 40px); display: block; float: none; border-bottom: 1px solid rgba(255, 255, 255, 0.2); margin: 0 auto;}

.description {
    @extend .title;
    @include roboto(1.2rem, 400, $light-primary-violet);
  }

.navigation-bar {
  background: $primary-violet;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, .2);
  @include transform(translateX(0px));
  @include transition(all, .4s, ease-in-out);
  opacity: 1;
}

.closeMe {
  @include transform(translateX(-500px));
  opacity: 0;
}

.data { background: #fff; padding: 40px 0px; }

header {

  .brand {
    @include size(100%, 130px);
    display: flex;
    justify-content: center;

    .logo {
      display: block;
      @include size(130px, 130px);
      background: #fff;
      background-image: url(../assets/logo/logo.png);
      background-size: 100%;
      border-radius: 50%;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);

      a {
        display: block;
        @include size(130px, 130px);
        border-radius: 50%;
      }

    }

  }

  nav {
    @include size(100%, 80px);
    background: $dark-primary-violet;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
    
    .trigger {
      display: block;
      float: left;
      @include size(64px, 80px);
      cursor: pointer;

      .tip {
        visibility: hidden;
        opacity: 0;
        @include transition(opacity, .4s, ease-in-out);
        padding: 10px;
        width: 83%;
        margin: 0 auto;
        margin-left: 60px;
        background: rgba(255, 255, 255, 1);
        color: $text;
        position: absolute;
        top: 20px;
        float: right;
        z-index: 1;
      }
      
      &:hover {
        .tip {
          opacity: 1;
          visibility: visible;
        }

        i {
          @include transform(translateX(-5px));
        }
      }
    }

    i {
      display: block;
      @include size(32px, 32px);
      margin-left: 20px;
      color: #fff;
      font-size: 32px;
      cursor: pointer;
      line-height: 80px;
      @include transition(transform, .4s, ease-in-out);
    }

  }
}

.aboutMe {
  @include size(100%, auto);
  padding: 40px 0px;

  .me {
    @include size(100%, auto);
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

    .photo {
      @include size(130px, 130px);
      border-radius: 50%;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
      margin-top: 40px;
      @include transition(all, .4s, ease-in-out);

      a {
        display: block;
        @include size(130px, 130px);
        border-radius: 50%;
      }

      &:hover {
        @include transform(scale(1.1, 1.1));
      }
    }
    
  }

  .info {
    @include roboto(1.1rem, 400, rgba(33, 33, 33, .85));
    line-height: 2.1rem;
    text-align: center;
    padding-bottom: 20px;
    margin: 0px 45px;

    a, &:visited {
      color: $primary-violet;
      @include transition(all, .4s, ease-in-out);

      &:hover, &:active {
        color: $accent;
      }
    }
  }

  .socials {
    ul {
      list-style: none;
      text-align: center;

      li {
        display: inline-block;
        margin-left: 40px;

        a {
          display: block;
          @include size(32px, 32px);
          @include transition(all, .4s, ease-in-out);
          @include transform(translateY(0px));


          &:hover {
            @include transform(translateY(10px));

            i {
              color: $accent;
            }
          }

        }

        &:nth-of-type(1) { margin-left: 0px !important; }

        i {
          color: $red;
          font-size: 32px;
          @include size(32px, 32px);
          @include transition(all, .4s, ease-in-out);
        }

      }

    }

  }

}

.category {
  .title { margin-top: 0;}
}

.category, .archive {
  @include size(100%, auto);

    .title { padding-bottom: 40px; }
    

  li {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    color: $text;
    line-height: 2em;
    @include transition(all, .4s, ease-in-out);
    @include transform(translateX(0px));

    &:first-of-type {
      padding-left: 7px;
    }

    &:hover { @include transform(translateX(10px)); }

    a, &:visited {
      @include roboto(1rem, 400, $text);
      letter-spacing: .04em;
      @include transition(all, .4s, ease-in-out);
      &:hover, &:active { color: $red; text-decoration: none; 
      .after { opacity: 1; font-size: 18px; color: $red; }
      }

      .after {
        opacity: 0;
        @include transition(all, .4s, ease-in-out);
      }
    }

    .counter {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      vertical-align: middle;
      line-height: 30px;
      border-radius: 50%;
      background: #9c27b0;
      color: #fff;
      font-size: 1rem;
      margin-left: 40px;
      @include transition(all, .7s, ease-in-out);

      &:hover {
        background: $red;
      }
    }

  } 
}

.ads {
  .loremAd {
    @include size(70%, auto);
    margin: 80px auto;
    padding: 20px 0;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, .20);

    p {
      @include roboto(1rem, 500, $primary-violet);
      margin-bottom: 40px;
    }
  }
}

.col-3 {
  @include size(auto, auto);
  
}

.triggerClosed, .nightMode {
  width: auto;
  height: 80px;
  display: none;
  position: relative;

  i {
      display: block;
      @include size(32px, 32px);
      margin-left: 20px;
      color: $primary-violet;
      font-size: 32px;
      cursor: pointer;
      line-height: 80px;
      @include transition(transform, .4s, ease-in-out);
    }


  .tip {
    visibility: hidden;
    opacity: 0;
    @include transition(opacity, .4s, ease-in-out);
    padding: 10px;
    width: auto;
    margin: 0 auto;
    margin-left: 60px;
    background: rgba(255, 255, 255, 1);
    color: $text;
    position: absolute;
    top: 20px;
    z-index: 1;
  }
  
  &:hover {
    .tip {
      opacity: 1;
      visibility: visible;
    }

    i {
      @include transform(translateX(5px));
    }
}

}

.col-9, .col-12 {
  @include transition(all, .4s, ease-in-out);
}

.article-body {
  @include size(100%, auto);
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 80px;

  .headerImage {
    @include size(100%, 480px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    @include transition(background-image, .4s, ease-in-out);
    position: relative;
    z-index: 1;

    &:hover { 
      -webkit-filter: contrast(1.5);
      -moz-filter: contrast(1.5);
      -o-filter: contrast(1.5);
      -ms-filter: contrast(1.5);
      filter: contrast(1.5);
    }

    .article-title {
      position: absolute;
      bottom: 20px;
      left: 20px;
      z-index: 9999;
      text-shadow: 1px 2px 0px rgba(0, 0, 0, .4);

      a {
        @include roboto(1.9rem, 300, #fff);

        &:hover {
          text-decoration: none;
        }
      }
      
    }

  }

  .article-info {
      @include size(100%, 80px);
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid rgba(0, 0, 0, .15);
      padding: 0 20px;

      [class*='info'] {
        @include roboto(1rem, 400, $text);
        display: inline-block;
        @include transition(all, .4s, ease-in-out);

        a {
          @extend [class*='info'];

          &:hover {
            color: $accent;
            text-decoration: none;
          }
        }

        &:hover {

          i {
            color: $accent;
          }
        }

        &:first-child {
          text-align: left;
        }

        &:nth-of-type(2) {
          text-align: center;
        }

        &:last-child {
          text-align: right;
        }

        i {
          margin-right: 10px;
          color: $red;
          font-size: 1.9rem;
          vertical-align: middle;
          @include transition(all, .4s, ease-in-out);
        }
      }

  }

  .article-content {
    @include size(100%, auto);
    padding: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, .15);
    @include roboto(1rem, 400, rgba(0, 0, 0, .85));
    text-align: justify;
    line-height: 1.9rem;
  }

  .readmore {
    @include roboto(1rem, 400, rgba(0, 0, 0, .85));
    @include size(100%, auto);
    padding: 20px;


    a {
      color: $red;
      text-transform: uppercase;
      @include transition(all, .4s, ease-in-out);

      i {
        color: $red;
        margin-left: 5px;
        font-size: 1.1rem;
        vertical-align: middle;
        @include transition(all, .4s, ease-in-out);
      }

      &:hover {
        color: $text;
        text-decoration: none;

        i {
          margin-left: 10px;
        }
      }
    }
  }

}

.pagination {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  
  .previousButton, .nextButton {
    display: inline-block;
    @include size(30%, 60px);
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    background: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    margin: 0 20px;
    position: relative;
    @include roboto(1rem, 400, $text);
    @include transition(all, .4s, ease-in-out);
    
    a, a:visited {
      display: block;
      @include transition(all, .4s, ease-in-out);
      color: $text;
      i {
        @include transition(all, .4s, ease-in-out);
        color: $accent;
        font-size: 1.5rem;
        vertical-align: middle;
      }
    }

    &:hover {
      a {
        color: $text;

        i {
          color: $primary-violet;
        }
      }
    }
  }

  .previousButton { i { position: absolute; left: 20px; } &:hover { i { left: 30px; } } }
  .nextButton { i { position: absolute; right: 20px; } &:hover { i { right: 30px; } } }

}

.article {
  @extend .article-body;

  .article-content {
    @include transition(all, .4s, ease-in-out);

    h3 {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.9rem;
    }
    
    ul { 
      padding: 0 20px;
    }

    blockquote {
      margin: 20px 0;
      font-family: 'Fira sans', serif;
      color: rgba(55, 55, 55, .55);
    }

    img {
      display: block;
      margin: 20px auto;
      border: 2px solid rgba(55, 55, 55, .1);
      padding: 15px;
      text-align: center;
    }

    p {
      margin: 20px auto;
    }
    
    a {
      color: rgba(0, 0, 0, .85);
      @include transition(all, .4s, ease-in-out);
      border-bottom: 1px solid $text;

      &:visited {
        @extend a;
      }

      &:hover, &:active {
        color: $red;
        text-decoration: none;
        border-bottom: 1px solid $red;
        
      }
    }
  }
}

.navigator {
  @include size(auto, 60px);
  background: #fff;
  padding: 20px;
  margin: 0 80px;
  margin-top: 40px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .15);

  i {
    font-size: 16px;
    color: rgba(0, 0, 0, .3);
    vertical-align: middle;
    margin: 0 10px;
  }

  a {
    @include transition(all, .4s, ease-in-out);
    text-decoration: none;
    color: $text;

    &:visited { @extend a; }

    &:hover, &:active {
      color: $red;
      
    }
  }
}

code {
  font-size: 1rem !important;
  font-family: 'Fira Mono' !important;
  background: rgba(226, 226, 226, 0.15) !important;
}

.tags {
  border-top: 2px solid rgba(0, 0, 0, .15);
  border-bottom: 2px solid rgba(0, 0, 0, .15);
  padding: 20px 0;
  
  span {
    font-size: .95rem;
    line-height: 1.8rem;
    text-align: justify;
    color: rgba(0, 0, 0, .65);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }

}

//ARCHIVE + CATEGORY

#shortData {
  #about { 
    padding: 20px 0;

    h3 {
      @include size(100%, auto);
      text-align: center;
      padding-bottom: 20px;
      border-bottom: 2px solid rgba(0, 0, 0, .2);
      color: $primary-violet;
    }

    .dataInfo {
      padding: 20px;
      line-height: 2rem;
      border-bottom: 2px solid rgba(0, 0, 0, .2);

      a, &:visited {
        color: $text;
        @include transition(all, .4s, ease-in-out);

        &:hover, &:active {
          color: $accent;
        }
      }
    }

    .infos {
      @include roboto(1rem, 400, $text);

      i {
        margin-right: 5px;
        font-size: 1.1rem;
        color: $accent;
        display: inline-block;
        width: 1.1rem;
        vertical-align: middle;
      }
    }

    .photo {
      display: block;
      @include size(140px, 140px);
      line-height: 140px;
      margin: 0 auto;
      border-radius: 50%;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
      margin-bottom: 20px;
    }
  }
}

#longData {
  #about { 
    @include size(calc(100% - 40px), auto);
  }
}


#archive, #category, #about {
  @include size(100%, auto);
  margin: 0px 0px 40px auto;
  padding-bottom: 20px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .15);
  @include roboto(1rem, 400, $text);
  
  &:first-child { padding-bottom: 0px !important; }

  header {
    @include size(100%, auto);
    padding: 20px;
    background: $primary-violet;
    margin-bottom: 20px;
    line-height: 2rem;

    h3 {
      @include size(100%, auto);
      font-size: 1.3rem;
   	  color: #fff;

      i {
        color: $light-primary-violet;
        font-size: 1.3rem;
      }


    }

  .desc {
    color: $light-primary-violet;
  }

  }

  .main-info {
    padding: 20px 20px 0px 20px;
    @include roboto(1rem, 400, $text);

    img {
      display: inline-block;
    }
  }

  .month, .catName {
    width: auto;
    padding: 0px 0px 20px 20px;
    color: $text;
    border-bottom: 2px solid rgba(33, 33, 33, .2);
    height: 60px;
    line-height: 60px;
    color: $primary-violet;
    
    &:nth-of-type(2) {
      padding-top: 20px;
      border-top: 2px solid rgba(33, 33, 33, .2);
    }
  }

  ul {
    padding: 20px 40px;

    li {
      font-size: 1rem;
      line-height: 2.2rem;
      @include transition(all, .4s, ease-in-out);

      a, a:visited {
        color: $text;
        border-bottom: 2px solid $text;
        padding-bottom: 5px;
        margin-left: 0px;
        @include transition(all, .4s, ease-in-out);

        &:hover, &:active {
          margin-left: 10px;
          color: $accent;
          border-bottom: 2px solid $accent;
        }
      }

      time {
        font-weight: 400;
        color: rgba(33, 33, 33, .65);
        margin-right: 20px;
      }
    }
  }
}

footer {
    @include size(100%, 80px);
    @include roboto(1rem, 400, $text);
    text-align: center;
    line-height: 80px;
    margin-top: 80px;
    background: #fff;
    
    a {
        font-weight: 600;
        color: $primary-violet;
        @include transition(all, .4s, ease-in-out);
        
        &:hover {
            color: $accent;
        }
    }
}


// Navigation script setup

.navigation-bar {
  &.close {
    @include transform( translateX(-550px ) );
  }
}

.trigger {
  &.close {
    @include transform( translateX(-550px ) );
  }
}

.triggerClosed {
  &.close {
    @include transform( translateX( 0px ));
    display: block;
  }
}

.col-9 {
  &.close {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

// Related posts

.relatedHeader {
  @include size(100%, 80px);
  margin-bottom: 40px;
  line-height: 80px;
  text-align: center;
  background: $primary-violet;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;

  h1 {
    @include roboto(24px, 400, #fff);

    i {
      margin-right: 10px;
    }
  }
}

.related {
  margin-left: 40px;

  &:first-child {
    margin-left: 0;
  }

  .headerImage {
    @include size(100%, 240px);
  }

  .article-title {
    @include roboto(20px, 400, $text);
    @include size(100%, 80px);
    background-color: #fff;
    margin-top: 20px;
    padding: 0 20px;
  }
}

.center {
  @include size(100%, auto);
  display: flex;
  align-items: center;
  justify-content: center;
}

// NightMode settings

body {
  &.night {
    background-color: $text;
  }
}

.logo {
  &.night {
    background-color: $text;
    opacity: 0.6;
  }
}

.navigation-bar {
  &.night {
    background-color: $night-primary-violet;
  }

  #drop {
    &.night {
      background-color: $night-dark-primary-violet;
    }
  }

  .title, .description {
    color: $night-light-primary-violet;
  }
}

.data {
  &.night {
    background-color: $text;
    color: $night-text;

    .info, li, li a {
      color: $night-text;
    }

    .counter {
      background-color: $night-primary-violet;
    }
  }
}

footer {
  &.night {
    background-color: $text;
    color: $night-text;
  }
}

.article {
  &.night {
    background-color: $text;
    color: $night-text;
    .article-title {
      color: $text;
    }
  }
}