$red: rgba(239, 72, 54, 1);
$accent: #FF5252;
$primary-violet: rgb(156, 39, 176);
$dark-primary-violet: rgb(123, 31, 162);
$light-primary-violet:  rgb(225, 190, 231);
$text: rgba(33, 33, 33, .85);