<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ site.bodyclass }}">
    <div class="htmlMask disable"></div>

    <div class="container-fluid">

      {% include mobileNavigation.html %}
      
      <div class="col-3">

      {% include triggers.html %}

      <div class="navigation-bar">
        
        {% include header.html %}

        {% include aboutMe.html %}

        {% include categoryList.html %}

        {% include archive.html %}

        {% include tagList.html %}

        {% include addsHere.html %}

        {% include footer.html %}

      </div>

      </div>

      <div class="col-9">     
           
            {{ content }}

      </div>

    </div>

  </body>
  <script src="{{ site.github.url }}{{ site.scripts }}jquery.js"></script>
  <link rel="stylesheet" href="{{ site.github.url }}{{ site.scripts }}prism/prism.css">
  <script src="{{ site.github.url }}{{ site.scripts }}prism/prism.js"></script>
  <script defer="true" src="{{ site.github.url }}{{ site.scripts }}functions.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83889767-1', 'auto');
  ga('send', 'pageview');

  </script>

</html>
