---
layout: default
---

  <!-- <div class="navigator">
    <span><a href="{{ site.homeurl }}">Strona główna</a></span>
    <span><i class="ion-chevron-right"></i></span>
    <span><a href="{{ page.url }}">Obecny post</span>
  </div> -->

  <div class="row">

    <article class="article">

      <header class="article-header">
        <div class="headerImage" style="background-image: url({{ page.image }})">
          <!-- <img src="{{ page.image }}" class=""> -->
          <h2 class="article-title"><a title="{{ page.title }}" href="{{ post.url }}">{{ page.title }}</a></h2>
        </div>
         <div class="article-info">
            <span class="info-date" title="Data"><i class="ion-ios-calendar"></i>{{ page.date | date: "%-d %B %Y" | replace:"January","Stycznia" | replace:"Februar","Lutego" | replace:"March","Märca" | replace: "April", "Kwietnia" | replace:"May","Maja" | replace:"June","Czerwca" | replace:"July","Lipca" | replace: "August","Sierpnia" | replace: "September", "Września" | replace "October", "Października" | replace: "November", "Listopada" | replace:"December","Grudnia" }}</span>
            <span class="info-cat" title="Kategoria"><i class="ion-ios-photos"></i><a href="/search/category/"> {{ page.category }} </a></span>
            <span class="info-author" title="Autor"><i class="ion-ios-contact"></i> {{ site.author }} </span>
          </div>
      </header>

      <div class="article-content">
        {{ content }}
      </div>

    </article>

    </div>

    <div class="row">

    <header class="relatedHeader">
      <h1><i class="ion-ios-paper"></i>A po przeczytaniu... Czytaj dalej</h1>
    </header>

    </div>

    <div class="row">
      <div class="center">
      <div class="col-6 related">
        {% if page.previous.url %}
        <div class="article-body">
          <a class="prev" href="{{page.previous.url}}">
            <div class="headerImage" style="background-image: url('{{ page.previous.image }}')"></div>
            <h1 class="article-title">{{page.previous.title}}</h1>
           </a>
        </div>
        {% endif %}
      </div>
      <div class="col-6 related">
        {% if page.next.url %}
        <div class="article-body">
          <a class="next" href="{{page.next.url}}">
            <div class="headerImage" style="background-image: url('{{ page.next.image }}')"></div>
             <h1 class="article-title">{{page.next.title}}</h1>
          </a>
        </div>    
        {% endif %}
      </div>
        <div class="col-12 related">
          {% if page.next.url = 0 %}
            <div class="article-body">
              {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}">
            <div class="headerImage" style="background-image: url('{{ page.previous.image }}')"></div>
            <h1 class="article-title">{{page.previous.title}}</h1>
           </a>
           {% endif %}
           </div>
           {% endif %}
        </div>
        </div>
      </div>
    
    </div>